<app-nav-bar></app-nav-bar>

<section id="main-content">
  <div class="section">
    <div class="section">
      <div class="section-container">
        <div class="section-content">
          <img
            src="assets/images/ijsberg.jpg"
            alt="De IJsberg zichtbaar maken"
            width="180"
            class="image visually-hidden-sm"
          />
        </div>
        <div class="section-content align-center">
          <h1 class="title">Zoeken in transcripties</h1>
          <p>
            Op deze tijdelijke projectwebsite zoekt u in de tekst van
            handgeschreven documenten. De documenten zijn afkomstig uit de
            archieven van de Verenigde Oost-Indische Compagnie (VOC) uit de 17e
            en 18e eeuw en archieven van notarissen uit de 19e eeuw.
          </p>
          <a [routerLink]="['/zoeken']" class="button large"
            >Begin met zoeken</a
          >
        </div>
      </div>
    </div>

    <div class="section section-alt">
      <div class="section-container">
        <div class="section-content">
          <p>
            In het innovatieve project <i>De ijsberg zichtbaar maken</i> zijn
            grote hoeveelheden handgeschreven documenten met behulp van
            kunstmatige intelligentie automatisch getranscribeerd, of te wel
            omgezet in tekst die de computer kan lezen. Daarna worden de
            transcripties met kunstmatige intelligentie verbeterd,
            gemoderniseerd en worden persoonsnamen, plaatsnamen en tijdstippen
            gemarkeerd.
          </p>
          <p>
            U kunt op de website de transcripties filteren op een periode, een
            (deel van een) archief of u zoekt op het inventarisnummer. De
            zoekvraag kunt u uitbreiden met historische synoniemen. Bij het
            aanklikken van een zoekresultaat kunt u kiezen voor het tonen van de
            scan, de transcriptie, de verrijkte transcriptie of een combinatie
            daarvan. Gevonden namen en tijden zijn onderstreept in de
            transcriptie.
          </p>
          <p>
            U kunt hier de komende tijd meer verrijkte transcripties verwachten.
            De website wordt steeds verder aangevuld. In dit project werkt het
            Nationaal Archief samen met het Noord-Hollands Archief en andere
            Regionaal Historische Centra.
          </p>
          <h2>Transcripties</h2>

          <p>
            De transcripties zijn automatisch gegenereerd met behulp van
            kunstmatige intelligentie. Houd er rekening mee dat automatische
            transcripties niet foutloos zijn. Kunstmatige intelligentie is ook
            ingezet om de transcripties te verbeteren, te moderniseren en
            locatienamen, persoonsnamen en tijden te markeren. Ook in deze
            bewerkingen treft u fouten aan.
          </p>

          <h2>Taalgebruik</h2>

          <p>
            De archieven zijn gevormd in het verleden en de mogelijkheid bestaat
            dat u daarin woorden tegenkomt die toen acceptabel waren maar nu als
            kwetsend, racistisch of discriminerend ervaren worden.
          </p>

          <h2>Open Data</h2>
          <p>
            De scans en de transcripties op deze website zijn vrijgegeven als
            open data onder een
            <a
              target="_blank"
              href="https://creativecommons.org/publicdomain/zero/1.0/deed.nl"
              >CC0 publieke domein verklaring</a
            >. Op de archiefbeschrijvingen (weergegeven bij de zoekresultaten en
            onder de knop 'i') kunnen rechten rusten. Neem voor meer informatie
            contact op met de betreffende archiefinstelling.
          </p>
          <p>
            Disclaimer: deze website is tijdelijk. De PID is hierdoor mogelijk
            niet duurzaam.
          </p>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="section-content">
        <h2>Archieven die beschikbaar zijn/komen</h2>

        <ul class="list">
          <li>
            <h3>Nationaal Archief</h3>
            <p>
              <a
                target="_blank"
                href="https://www.nationaalarchief.nl/onderzoeken/archief/1.04.02/invnr/%252540Deel%252520I?query=1.04.02&search-type=inventory"
              >
                1.04.02 Inventaris van het archief van de Verenigde
                Oost-Indische Compagnie (VOC), 1602-1795 (1811) </a
              >, inv.nrs. 7527-9540
            </p>
          </li>
          <li>
            <h3>Noord-Hollands Archief</h3>
            <p>
              <a
                target="_blank"
                href="https://noord-hollandsarchief.nl/bronnen/archieven?mivast=236&mizig=210&miadt=236&micode=1617&milang=nl&miview=inv2"
                >1617 Notariële protocollen en akten van notarissen te Haarlem
                (Oud Notarieel Archief Haarlem)</a
              >, inv.nrs. 1593-1805.
            </p>
            <p>
              <a
                target="_blank"
                href="https://noord-hollandsarchief.nl/bronnen/archieven?mivast=236&mizig=210&miadt=236&micode=1972&milang=nl&miview=inv2"
                >1972 Notariële akten van notarissen te Haarlem (Nieuw Notarieel
                Archief Haarlem)</a
              >, inv.nrs. 5-813.
            </p>
          </li>
          <li>
            <h3>Historisch Centrum Overijssel</h3>
            <p>
              <a
                target="_blank"
                href="https://collectieoverijssel.nl/collectie/archieven/?mivast=20&mizig=210&miadt=141&micode=0122&miview=inv2"
                >0122 Notarissen in Overijssel</a
              >, inv.nrs. 5-48, 2044-2073, 3019-3047, 3733-3775.
            </p>
          </li>
          <li>
            <h3>Brabants Historisch Informatie Centrum</h3>
            <p>
              <a
                target="_blank"
                href="https://www.bhic.nl/integrated?mizig=210&miadt=235&micode=7048&miview=inv2"
                >7048 Notarissen in Boxmeer, 1814-1935</a
              >, inv.nrs. 1-103, 162.
            </p>
            <p>
              <a
                target="_blank"
                href="https://www.bhic.nl/integrated?mizig=210&miadt=235&micode=7128&miview=inv2"
                >7128 Notarissen in Grave, 1648-1935</a
              >, inv.nrs. 140-266.
            </p>
            <p>
              <a
                target="_blank"
                href="https://www.bhic.nl/integrated?mizig=210&miadt=235&micode=7637&miview=inv2"
                >7637 Notarissen in Sint-Oedenrode</a
              >, 1642-1935, inv.nrs. 17-78A.
            </p>
          </li>
          <li>
            <h3>Groninger Archieven</h3>
            <p>
              <a
                target="_blank"
                href="https://www.groningerarchieven.nl/archieven/?mizig=210&miadt=5&micode=85&miview=inv2"
                >85 Notarissen te Appingedam (standplaats 1), 1811-1935</a
              >, inv.nrs. 2-157.
            </p>
            <p>
              <a
                target="_blank"
                href="https://www.groningerarchieven.nl/archieven/?mizig=210&miadt=5&micode=86&miview=inv2"
                >86 Notarissen te Appingedam (standplaats 2), 1812-1922 </a
              >, inv.nrs. 2-71.
            </p>
          </li>
          <li>
            <h3>Het Utrechts Archief</h3>
            <p>
              <a
                target="_blank"
                href="https://hetutrechtsarchief.nl/onderzoek/resultaten/archieven?mizig=210&miadt=39&micode=34-1&miview=inv2"
              >
                34-1, Notarissen in de provincie Utrecht, 1617-1895</a
              >,inv.nrs. 928-930, 2209-2330
            </p>
          </li>
          <li>
            <h3>Tresoar</h3>
            <p>
              <a
                target="_blank"
                href="https://www.archieven.nl/nl/zoeken?mivast=0&mizig=210&miadt=36&micode=26&miview=inv2"
              >
                26, Notarieel archief,</a
              >
              inv.nrs. 1001-9028 (met hiaten)
            </p>
          </li>
          <li>
            <h3>Zeeuws Archief</h3>
            <p>
              <a
                target="_blank"
                href="https://www.zeeuwsarchief.nl/onderzoek-het-zelf/archief/?mizig=210&miadt=239&micode=13.4&miview=inv2"
                >13.2, Notariële Archieven Zeeland 1906-1915, (1886) 1906-1915
                (1925)</a
              >, inv.nrs. 1152-1163, 1261-1320.
            </p>
          </li>
          <li>
            <h3>Regionaal Historisch Centrum Limburg</h3>
            <p>
              <a
                target="_blank"
                href="https://www.archieven.nl/mi/1540/?mivast=1540&mizig=210&miadt=38&micode=09.009&miview=inv2"
                >09.009, Notarissen in de Arrondissementen Maastricht en
                Roermond, 1896-1905</a
              >, inv.nrs. 9147-9279.
            </p>
          </li>
        </ul>
        <h2>Hergebruik</h2>
        <p>
          Zowel de trainingsdata voor het automatische transcriberen als de
          automatisch gegenereerde transcripties zijn gepubliceerd op
          <a href="https://doi.org/10.5281/zenodo.3517776" target="_blank"
            >Zenodo</a
          >, een platform voor wetenschappelijke publicaties en data. De website
          is zoveel mogelijk gebouwd met open source technologie. De
          documentatie van de verschillende onderdelen is met de volgende links
          te vinden: front-end, transcriptiebeheerssysteem, Ai-pijplijn.
        </p>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://siouxmathware.github.io/ijsbeer-ai/"
              >Documentatie AI</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/siouxmathware/ijsbeer-ai"
              >Code AI</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://zoekintranscripties.nl/documentation/"
              >Documentatie Website</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://bitbucket.org/cleancode-ams/na-transcripties-zoeken-tonen/src/master/"
              >Code Website</a
            >
          </li>
          <li>
            <a target="_blank" href="https://api.zoekintranscripties.nl/docs/"
              >API koppeling</a
            >
          </li>
          <li>
            <a target="_blank" href="https://doc.nuxeo.com/nxdoc/nuxeo-server/"
              >Documentatie Nuxeo</a
            >
          </li>
          <li>Code Nuxeo volgt</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section section-alt">
    <div class="section-container">
      <div class="section-content">
        <h2>Colofon</h2>

        <p>April 2021</p>

        <p>
          Het project <i>De ijsberg zichtbaar maken</i> is tot stand gekomen
          door de inzet van velen. Iedereen bedankt daarvoor. Hieronder volgt
          een overzicht van de meest betrokken mensen en organisaties.
        </p>

        <h3>Archieven</h3>
        <ul>
          <li>Nationaal Archief</li>
          <li>Noord-Hollands Archief</li>
          <li>Utrechts Archief</li>
          <li>Brabants Historisch Informatie Centrum</li>
          <li>Zeeuws Archief</li>
          <li>Groninger Archieven</li>
          <li>Regionaal Historisch Centrum Limburg</li>
          <li>Tresoar</li>
          <li>Historisch Centrum Overijssel</li>
          <li>Gelders Archief</li>
          <li>Drents Archief</li>
        </ul>

        <h3>Transcribenten</h3>
        <ul>
          <li>Alan Moss</li>
          <li>Willy Etmans</li>
          <li>Susanne de Jong</li>
          <li>Jan Willem Kooistra</li>
          <li>Rick Hartman</li>
          <li>Juriaan Wink</li>
          <li>Annemieke Houben</li>
        </ul>

        <h3>Automatische transcripties</h3>
        <p>READ/COOP (Transkribus)</p>

        <h3>Website front-end en zoekmachine</h3>
        <ul>
          <li>Clean Code (Robert Goené, Tom Dalenberg)</li>
        </ul>

        <h3>
          Transcriptiebeheersysteem en verrijking met kunstmatige intelligentie
        </h3>
        <ul>
          <li>Picturae</li>
          <li>Aincient</li>
          <li>Sioux</li>
        </ul>

        <h3>Prototypes website</h3>
        <ul>
          <li>Clean Code (Robert Goené, Tom Dalenberg).</li>
          <li>Picturae, Aincient, Sioux Technologies.</li>
          <li>Koninklijke Nederlandse Academie voor Wetenschap, ATOS.</li>
        </ul>

        <h3>Small Business Innovation Research</h3>
        <ul>
          <li>Ministerie van Economische Zaken en Klimaat</li>
          <li>Rijksdienst voor Ondernemend Nederland</li>
          <li>Ministerie van Onderwijs, Cultuur en Wetenschap</li>
        </ul>

        <h3>Hulp en advies</h3>
        <ul>
          <li>IUC-Noord</li>
          <li>Stadsarchief Amsterdam</li>
          <li>Instituut voor de Nederlandse Taal</li>
          <li>Rutger van Koert</li>
          <li>Simon Dirks</li>
          <li>Karen Groenink</li>
          <li>Ivo Zandhuis</li>
          <li>Michel R. Doortmont</li>
          <li>150 Vrijwilligers velehanden.nl</li>
        </ul>
      </div>

      <div class="section-content">
        <h2>Contactgegevens</h2>
        <p>
          Neem voor vragen over een archief contact op met de betreffende
          archiefinstelling:
        </p>
        <ul>
          <li>
            <a href="https://www.nationaalarchief.nl/" target="_blank"
              >Nationaal Archief</a
            >
          </li>
          <li>
            <a href="https://noord-hollandsarchief.nl/" target="_blank"
              >Noord Hollands Archief</a
            >
          </li>
          <li><a href="https://www.tresoar.nl" target="_blank">Tresoar</a></li>
          <li>
            <a
              href="https://www.bhic.nl/het-geheugen-van-brabant"
              target="_blank"
              >Brabants Historisch Informatie Centrum</a
            >
          </li>
          <li>
            <a href="https://hetutrechtsarchief.nl/" target="_blank"
              >Het Utrechts Archief</a
            >
          </li>
          <li>
            <a href="https://www.zeeuwsarchief.nl/" target="_blank"
              >Zeeuws Archief</a
            >
          </li>
          <li>
            <a href="https://www.rhcl.nl/nl" target="_blank"
              >Regionaal Historisch Centrum Limburg</a
            >
          </li>
          <li>
            <a href="https://www.groningerarchieven.nl/" target="_blank"
              >Groninger Archieven</a
            >
          </li>
          <li>
            <a href="https://historischcentrumoverijssel.nl/" target="_blank"
              >Historisch Centrum Overijssel</a
            >
          </li>
        </ul>

        <p>
          Neem voor vragen over de website en het project
          <i>De ijsberg zichtbaar</i>
          maken contact op met:
          <a
            target="_blank"
            class="link"
            href="mailto:NA_Dienstpostbus_Afdeling_Digitalisering@nationaalarchief.nl"
            >NA_Dienstpostbus_Afdeling_Digitalisering@nationaalarchief.nl</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
